.a {
    color: white;
}

li {
    color: white;
}

.h2 {
    text-align: center !important;
    color: white !important;
}

.h3 {
    text-align: center !important;
    color: black !important;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}

.libros a {
    color: black;
}

.libros h2 {
    text-align: center !important;
    color: black !important;
}

ul,
li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}

li a {
    color: gray;
}

.last a {
    color: black;
}

.navigation {
    position: fixed;
    z-index: 99;
    padding-top: 15;
    top: 0;
    left: 5px;
    background-color: black;
    font-size: 13pt;
    font-weight: 300;
    line-height: 3.75em;
    margin-left: -5px;
}

.book {
    margin-top: 10px;
    margin-bottom: -5%;
}

.class1 {
    margin-bottom: 15px;
}